@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: rgb(107, 158, 167);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'sans-serif';
}
.container{
  display: flex;
  justify-content: center;
  width: 768px;
background-color: #4ea3f3;
border-radius: 10px;


}
.appli {

background-color: #262626;
width: 768px;
height: 712px;
border-radius: 10px;
box-shadow: 8px 2px 5px 3px #262626;
}

.Appli:hover {
}

.Appli:active {
}

.Appli:focus {
}

.titre {
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.titre:hover .pdc{

}

.Titre:active {
}

.Titre:focus {
}

.pdc {
text-align: center;
  background: #36C71F;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #F8F8F8;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  width: 100%;
 font-family: 'Roboto';

}

.PDC:hover {
}

.PDC:active {
}

.PDC:focus {
}
.zones,.pax,.bebes {
  display: flex;
  align-items: center;
  text-align: center;
 color: #77EE9F;
 padding: 15px;
 font-size: 25px;
 justify-content:center;
}
.colonnes{
  background-color: #366B47;
display: grid;
grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
width: 768px;
}


.zones:hover {
}

.zones:active {
}

.zones:focus {
}

.pax{


}

.pax:hover {
}

.pax:active {
}

.pax:focus {
}

.bebes {
  
}

.BEBES:hover {
}

.BEBES:active {
}

.BEBES:focus {
}



.colonnes:hover {
}

.colonnes:active {
}

.colonnes:focus {
}

.oa,.ob {
  background-color: #fff;
 color: #725d5d;
 display: grid;
 grid-template-columns: 1fr 2fr 2fr 2fr 1fr ;
 font-size: 25px;
 text-align: center;
 width: 768px;
 padding: 15px;
 font-family: 'Gloria Halleluja';
 font-weight: 900;
}
.oa-moins,.oa-plus,.ob-moins,.ob-plus{
  background: #cbea98;
  box-shadow: 1px 2px 3px 3px #dffbcd;
  cursor: pointer;
  border-radius: 15px;
}
.oa-pax,.oa-moins,.oa-plus,.oa-zones,.oa-bebes,.ob-pax,.ob-moins,.ob-plus,.ob-zones,.ob-bebes{
  padding: 15px 25px;

}
.oa:hover {
}

.oa:active {
}

.oa:focus {
}

.colonnes-section{
  background-color: #366B47;
display: grid;
grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
width: 768px;
}
.colonnes-section > div{
  color: #fff;
}